.nav-filter {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 50px;
  margin-bottom: 10px;
  &__button {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    font-size: 1.5rem;
    color: $primary-color;
    background: $secondary-color;
    &--active {
      color: $secondary-color;
      background: $primary-color;
    }
  }
  //   &:active {
  //     background: $secondary-color;
  //   }
  //&__icon {
  // color: $primary-color;
  // &:active {
  //   color: $secondary-color;
  // }
  // }
}

.filter--icon {
  font-size: 1.9rem;
  padding: 15px;
  color: $primary-color;
  width: 48px;
  height: 48px;

  &:active {
    color: $secondary-color;
  }
}
